<h2>Add a New Celebrity to the List!</h2>

<form method="POST" action="/celebrities/create">
    <input type="text" name="name" placeholder="Celebrity Name">
    </br>
    <input type="text" name="occupation" placeholder=" What's their Occupation?">
    </br>
    <input type="text" name="catchPhrase" placeholder="What's their Catch Phrase?">
    </br>
    <button>Create Celebrity</button>
</form>